/node_modules/
package-lock.json
package.json
/frontend/react_buetpx
/Backend/buetpx_back/buetpx/__pycache__/
/Backend/buetpx_back/buetpx/migrations/__pycache__/
/Backend/buetpx_back/buetpx_back/__pycache__/
