* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  background: transparent;
}

input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-left: 4px;
}

button {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  margin-top: 65px;
}

/* nav */

nav {
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  height: 65px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.082);
}

.logo svg {
  height: 20px;
}

.bowl_menu {
  display: flex;
  align-items: center;
}

.block_menu {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

.new_title_block {
  background: rgb(79, 129, 93);
  color: #ffff;
  border-radius: 7px;
  padding: 3px 7px;
  margin-left: 7px;
}

.block_menu:hover .new_title_block span {
  color: #fff !important;
}

.bowl_Search {
  display: flex;
  background: rgb(240, 240, 240);
  border-radius: 50px;
  overflow: hidden;
  height: 38px;
  width: 250px;
}

.input_Search {
  width: calc(100% - 40px);
  height: 100%;
}

.search_svg {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bowl_logged {
  display: flex;
}

.to_login {
  padding: 7px 15px;
}

.to_signup {
  border: 1px solid #000;
  padding: 7px 15px;
  border-radius: 50px;
}

.to_login:hover span,
.to_signup:hover span,
.block_menu:hover span {
  color: rgb(14, 98, 255);
}

/* header */

.header {
  position: relative;
  height: 600px;
}
.image_back_header {
  width: 100%;
  height: 100%;
}

.wave_header {
  /* background: turquoise; */
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
}
.wave_header svg {
  width: 100%;
  height: 100%;
}

.bowl_flow_header {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 50%;
}

.title_header_home {
  font-size: 3rem;
  font-weight: bold;
}

.description_header {
  font-size: 1.3rem;
  margin-top: 20px;
}

.btn_header {
  margin-top: 20px;
  background: #fff;
  width: 200px;
  height: 45px;
  border-radius: 50px;
}

.btn_header:hover {
  background: rgb(238, 238, 238);
}

.btn_header button {
  font-size: 1.3rem;
  font-weight: 600;
}

/* section makes us different */

.makes_us_different {
  margin-top: 30px;
}

.title_maksdiff {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.bowl_4_Cards_usdif {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.card_info_make_us_diff {
  width: 300px;
}

.svg_card_inmausdf svg {
  width: 50px;
  height: 50px;
}

.title_card_inmausdf {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 7px;
}

.description_card_inmausdf {
  font-size: 1rem;
  margin-top: 7px;
}

.get_our_app {
  height: 400px;
  margin-top: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.wave1_get_App {
  position: absolute;
  bottom: -5px;
  right: 0;
}

.image_get_our_app {
  position: relative;
  z-index: 50;
  height: 100%;
}

.info_get_app {
  position: relative;
  z-index: 50;
}

.title_get_app {
  font-size: 2rem;
}

.description_get_app {
  font-size: 1rem;
  margin-top: 20px;
  width: 400px;
}

.bowls_btns_apps {
  display: flex;
}

.bowls_btns_apps > div {
  margin-top: 20px;
  margin-right: 25px;
}

/* sectt - many section between */

.sectt_bowl {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sectt_bowl.margin {
  margin-top: 30px;
}

.background_Sectt {
  height: 100%;
  width: 100%;
}

.bowl_flow_Sectt {
  position: absolute;
  text-align: center;
}

.title_Sectt {
  font-size: 2.5rem;
  color: #fff;
  margin-top: 30px;
}

.svg_sectt.active {
  background: var(--back);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.svg_sectt.active svg {
  width: 60px;
  height: 60px;
  fill: #fff !important;
  color: #fff !important;
}

.svg_sectt svg {
  width: 100px;
  height: 100px;
}

.publish_photo_by {
  position: absolute;
  bottom: 15px;
  color: #fff;
  right: 30px;
  user-select: none;
  cursor: pointer;
}

.publish_photo_by:hover {
  color: rgb(0, 102, 255);
}

/* best of best */

.bowl_best_of {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title_best_of {
  font-size: 3rem;
}

.description_best_of {
  font-size: 1rem;
  margin-top: 15px;
  width: 80%;
  text-align: center;
}

.btn_best_of {
  background: #222222;
  width: 300px;
  height: 65px;
  border-radius: 60px;
  margin-top: 20px;
}

.btn_best_of:hover {
  background: #303030;
}

.btn_best_of button {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn_best_of.active {
  background: #fff;
}

.btn_best_of.active:hover {
  background: #dddddd;
}

.btn_best_of.active button {
  color: #000;
}

.bowl_cards_Best_of {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  align-items: center;
}

.card_best_of {
  height: 240px;
  width: 95%;
  position: relative;
  overflow: hidden;
  margin-top: 7px;
}

.image_Card_best {
  height: 100%;
}
.image_Card_best img {
  transition: all 0.4s ease-in-out;
}
.image_Card_best:hover img {
  transform: scale(1.3) translateX(-10px) rotate(10deg);
}

.title_publish_best {
  position: absolute;
  bottom: -25px;
  right: 0px;
  background: linear-gradient(to top, #000, #0000);
  width: 100%;
  color: #fff;
  font-size: 0.9rem;
  padding: 3px;
  text-align: right;
  transition: all 0.2s ease-in-out;
}

.card_best_of:hover .title_publish_best {
  bottom: 0px;
}

/* designed and built */

.bowl_discover,
.designed_built {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image_designed_built {
  height: 500px;
}

/* discover */

.bowl_cards_discover {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.card_discover_line {
  width: 300px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

.card_discover_line:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.295);
}

.img_card_discover {
  height: 220px;
  overflow: hidden;
}
.img_card_discover img {
  transition: all 0.3s ease-in-out;
}
.img_card_discover:hover img {
  transform: scale(1.3) translateX(-20px) rotate(-10deg);
}

.bowl_bottom_card_disocver {
  margin-top: 5px;
  padding: 7px;
  position: relative;
  height: 45%;
}

.title_card_discover {
  font-size: 1rem;
  font-weight: 600;
}

.line_discover_inside {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.span_card_discover {
  margin-left: 5px;
}

.author_discover {
  margin-top: 10px;
  font-size: 1.1rem;
}

/* section prizes */

.bowl_prizes {
  width: 90%;
  margin: 40px auto;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title_prizes {
  font-size: 2.2rem;
  margin-top: 15px;
}

.description_prizes {
  font-size: 1rem;
  margin-top: 15px;
  width: 70%;
}

.info_prizes {
  width: 50%;
}

.banar_prizes {
  width: 50%;
}

.icon_prizes svg {
  width: 70px;
  height: 70px;
}

.btn_prizes {
  background: #222222;
  width: 250px;
  height: 40px;
  border-radius: 50px;
  margin-top: 40px;
}
.btn_prizes:hover {
  background: #333333;
}

.btn_prizes button {
  color: #fff;
  font-size: 1.3rem;
}

.bowl_paid .info_prizes {
  margin-left: 50px;
}

/* community */

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #45457c;
  color: #fff !important;
  padding: 40px;
}

/* footer */

.footer {
  background: #fff;
  margin-top: 20px;
}

.head_footer {
  display: flex;
  justify-content: space-evenly;
}

.line_footer {
}

.line_footer span {
  font-size: 1.1rem;
}

.title_line_footer {
  margin-bottom: 15px;
}

.title_line_footer span {
  font-size: 1.8rem;
  color: rgb(112, 112, 112);
}

.row_line_footer {
  color: rgb(77, 77, 77);
  margin-top: 15px;
  user-select: none;
  cursor: pointer;
}

.line_social_footer {
  width: 200px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.row_line_footer:hover {
  color: rgb(25, 0, 255);
}

.line_social_footer .row_line_footer {
  margin-left: 8px;
}

.bottom_footer {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  justify-content: space-between;
  border-top: 1px solid rgb(211, 211, 211);
}
.side_left {
  display: flex;
  color: rgb(80, 80, 80);
  font-size: 2rem;
}
.side_rigth {
  display: flex;
}

.side_rigth > div {
  margin-right: 15px;
  user-select: none;
}

.logo_footer svg {
  height: 20px;
  margin-left: 10px;
  fill: rgb(82, 82, 82);
}
